@use './normalize';

//Custom properties
:root {
	/** Fuentes **/
	--main-type: "DM Sans Variable", sans-serif;
	/** Colores **/
	--blue: #103778;
	--blue-deep: #151f30;
	--red: #b40635;
	--white: #f0f0f0;
	--black: #000000;

	//Containers
	--container-sm: 768px;
	--container-md: 1024px;
	--container-lg: 1200px;
  }
  
  /* HTML */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

//Utils
.container-md {
	margin: auto;
	background-color: red;
	width: var(--container-md);
	position: relative;
}

body {
	font-family: var(--main-type);
	line-height: 1.5;
	background-color: var(--blue-deep);
	color: var(--white);
	padding-top: 5em;
	display: flex;
	flex-flow: column;
}