---
const pageTitle = "Hidroruz | Home";
import MainLayout from "../layouts/MainLayout.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<MainLayout pageTitle={pageTitle}>
		<h1>Bienvenidos a mi Blog</h1>
		</MainLayout>
	</body>
</html>
