---

---

<a href="/" class="brand">hidro<span>ruz</span></a>

<style lang="scss">
  .brand {
    color: var(--white);
    text-transform: uppercase;
    padding: 2rem;
    font-size: 2rem;

    font-weight: 900;
    font-variation-settings:
      "wdth" 75,
      "wght" 900;
    text-decoration: none;

    & span {
      color: var(--red);
    }
  }
</style>
