---
import Navigation from "./Navigation.astro";
import Brand from "./Brand.astro";
---

<header class="header">
  <div class="container-md">
    <Brand />
    <Navigation />
  </div>
</header>

<style lang="scss">
  .header {
    background-color: var(--blue);
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }
</style>
