---

---
<section class="hero">
    <h1 class="hero__title">Hidroruz</h1>
    <p class="hero__description">
        Insumos para la gasfitería en la región de Coquimbo - Venta de productos y asesoría profesional para la realización de tus proyectos
    </p>
    <button class="hero__button hero__button--cta">Contáctanos</button>
</section>